<div class="row">
  <div class="col-md-10">
    <strong>{{ post?.title }}</strong>
    <div *ngFor="let message of messages" class="message" class="messages">
      <div>
        <p>{{message?.content}}</p>
      </div>
      <a (click)="(reply = !reply) (scroll(replyForm))" class="float-right btn btn-link btn-sm">
        <i class="fa-arrow-down"></i>
        Reply
      </a>
      <div class="btn-group">
        <a class="btn btn-link btn-sm">
          <i class="fa fa-pencil"></i>
          Edit
        </a>
        <button type="button" class="btn btn-link btn-sm">
          <i class="fa fa-trash"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Reply form -->
<div #replyForm>
  <form *ngIf="reply" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <textarea rows="5" placeholder="Message" class="form-control" [(ngModel)]="message" name="message"></textarea>
      <input type="submit" class="btn btn-primary btn-block" value="Submit">
    </div>
  </form>
</div>
