<div class="jumbotron text-center">
  <h1>MEAN App</h1>
  <p class="lead">Welcome to our MEAN app application</p>
  <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Register</a>
  <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['/login']">Login</a>
  <a *ngIf="authService.loggedIn()" class="btn btn-primary" [routerLink]="['/new-post']">New Post</a>
</div>

<table align="center" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>
        <a [routerLink]="['/post/'+ post._id]">Joe</a>
      </td>
      <td>
        <a [routerLink]="['/post/'+ post._id]">{{post.title}}</a>
      </td>
      <td>
        <a [routerLink]="['/post/'+ post._id]">23-01-2018</a>
      </td>

    </tr>
  </tbody>

</table>
